.pt{
    cursor: pointer;
}

.tlo{
    background-color: #ff851b4b;
    color: #212529;
    //text-shadow: 0px 0px 1px white;
    text-transform: uppercase;
    font-weight: 600;
}

.suma{
    font-weight: 500;
}

.cnt{
    text-align: center;
}

.zielony{
    color: #3FBC84;
    font-weight: bold;
}

.pom{
    color: #FF851B;
}