<div class="card" *ngIf="product" routerLink="/sklep/{{product.id}}" style="height: 90;">
      
    <img  class="img-fluid" src="{{product.imageAdress}}" alt="{{product.name}}" style="width: 260px; height: 170px; background-size: contain;">
    <div class="card-body d-flex flex-column ">
      <a class="text-decoration-none text-dark">
            <h6 >
                {{product.name}}
            </h6>
      </a>

      <span class="mb-2" style="font-size: 1.3em;">
            {{ product.cost | number }} zł
      </span>

      <div class="btn-group">

            <button class="colorPom d-flex btn btn-outline-secondary justify-content-center">
                  <i class="fa fa-solid fa-cart-plus fa-2x me-3"></i>
                  <h5 class="pt-1 text-uppercase">Do koszyka</h5>
            </button>

      </div>
    </div>
</div>
