<header class="navbar fixed-top col-12 d-flex flex-row justify-content-center py-2 mb-4 border-bottom bg-dark align-items-center">

    <img src="/assets/images/logo5.png" alt="logo" style="max-height: 60px;">

    <nav class="mx-lg-5 fs-5 text-uppercase">
        <a class="p-3 text-white text-decoration-none" href="#">Strona Główna</a>
        <a class="p-3 text-white text-decoration-none" href="#">Sklep</a>
        <a class="p-3 text-white text-decoration-none" href="#">Kontakt</a>
    </nav>

    <form class="me-lg-5 " role="search">
        <input type="search" class=" form-control" placeholder="Wyszukaj...">
    </form>

    <div class="d-flex align-items-center ">
        <a class="position-relative">
            <i class="cart fa fa-shopping-cart fa-4x me-5"></i>
            <div class="product-number">5</div>
        </a>
        <a href="" class="btn btn-outline-light me-2">Zaloguj</a>
        <a href="" class="btn btn-warning">Utwórz konto</a>
    </div>
</header>