.tlo{
    background-color: #ff851b4b;
    color: #212529;
    text-transform: uppercase;
    font-weight: 600;
}

.pic{
    height: 70px;
    width: 100px;
}

.am{
    vertical-align: middle;
    text-align: center;
}

.szary{
    color: gray;
    font-weight: 400;
}

.cena{
    font-weight: 400;
}

.zielony{
    color: #3FBC84;
    font-weight: bold;
}

.wiel{
    font-size: 1.5em;
}

.popr{
    padding-top: 11px; padding-bottom: 12px;
}